html[data-theme="dark"] {
  --Elementsbg: #2b3945;
  --Mainbg: #202c37;
  --TextColor: white;
}

html[data-theme="light"] {
  --Elementsbg: #f7f7f7;
  --Mainbg: white;
  --Textcolor: #111517;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
  box-sizing: border-box;
}

body {
  color: var(--TextColor);
  background-color: var(--Mainbg);
}

header {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: var(--Elementsbg);
  padding: 0px 5% 0px 5%;
}

header h1 {
  color: var(--TextColor);
}

header div {
  height: 20%;
  background: var(--Elementsbg);
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  color: var(--Textcolor);
  align-items: center;
}

header div img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

main {
  padding: 0px 5% 0px 5%;
}

main .filterBox {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

main .filterBox input {
  background-color: var(--Elementsbg);
  border: none;
  padding: 15px;
  width: clamp(150px, 25vw, 600px);
  border-radius: 8px;
  outline-color: white;
  color: var(--Textcolor);
  font-weight: 700;
}

main .filterBox input::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: red;
}

main .filterBox select {
  border-radius: 8px;
  width: clamp(200px, 10vw, 300px);
  background-color: var(--Elementsbg);
  border: none;
  padding: 10px 20px 10px 20px;
  color: var(--Textcolor);
  outline-color: var(--Textcolor);
}

main .filterBox select option:hover {
  background-color: red;
}

main .counteriesList {
  display: flex;
  min-height: 70vh;
  gap: 5%;
  flex-wrap: wrap;
  row-gap: 5vh;
  justify-content: space-between;
}

main .counteriesList .countriesList__countryCard {
  box-shadow: 0px 10px 20px 0px #1a1919;
  display: flex;
  width: 300px;
  height: 340px;
  flex-direction: column;
  border-radius: 10px;
}

main .counteriesList .countriesList__countryCard img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 170px;
}

main .counteriesList .countriesList__countryCard .countriesList__countryCard--details {
  padding: 25px;
  background-color: var(--Elementsbg);
  height: 170px;
  border-radius: 0px 0px 10px 10px;
}

main .counteriesList .countriesList__countryCard .countriesList__countryCard--details :first-child {
  font-weight: 700;
  margin-bottom: 5%;
}

main .counteriesList .countriesList__countryCard .countriesList__countryCard--details p {
  font-weight: 300;
}
